# Проектные папки
venv/
.venv/
__pycache__/
*.py[cod]

# Временные файлы и загрузки
temp/
temp_downloads/
downloads/
logs/
bot.lock
bot.log
*.mp4

*.jpg
*.png
*.webp

# Конфигурация
.env

# Базы данных
*.db
*.sqlite3

# IDE
.vscode/
.idea/
